@using CoreLib.Entities.EchoCore.AccountCore
@using MudBlazor
@inject NavigationManager nav

<div class="d-flex">
    <MudPaper Width="72px" Height="100vh" Square Style="background: var(--mud-palette-dark);">

         @*         <MudButton OnClick="@ToggleDrawer">
        YOU CLICK HERE
        </MudButton> *@
         <MudList Clickable="true">
             <MudListItem OnClick="@OpenMessages">
                 <MudAvatar>
                     <MudIcon Icon="@Icons.Material.Filled.Mail" />
                 </MudAvatar>
             </MudListItem>
             <MudListItem OnClick="@OpenFriends">
                 <MudAvatar>
                     <MudIcon Icon="@Icons.Material.Filled.Person" />
                 </MudAvatar>
             </MudListItem>
             <MudDivider DividerType="DividerType.Middle" />
             @foreach (var c in servers)
            {
                <MudListItem Dense="true" OnClick="@OpenChannels">
                    <MudAvatar Size="Size.Medium">
                        <MudImage Src="@c" />
                    </MudAvatar>
                </MudListItem>
            }
        </MudList>
    </MudPaper>
    <div class="d-flex flex-column flex-gap-0">

        @if (openMessages)
        {
            <div class="d-flex flex-grow-1">
                <MudPaper Width="280px" Square Style="background: var(--mud-palette-surface);">
                     <MudPaper Square Style="background: var(--mud-palette-surface);" Height="5vh" Class="px-3" Elevation="1">
                         <MudTextField Style="background: var(--mud-palette-dark);" Placeholder=" Search" Value="searchTerm" KeyDownPreventDefault KeyUpPreventDefault />
                     </MudPaper>
                     <MudText Class="px-5 py-2">Direct Messages</MudText>
                     <MudList Clickable="true">
                         @foreach (var c in accounts)
                        {
                            <MudListItem Dense="true" OnClick="@GoToChat">
                                <MudAvatar>
                                    <MudImage Src="@c.Profile.AvatarFileURL" />
                                </MudAvatar>
                                <MudText Typo="Typo.caption">@c.Name</MudText>
                                </MudListItem>
                        }
                        <MudListItem Dense="true">
                            <MudAvatar>
                                <MudIcon Icon="@Icons.Material.Filled.Groups" />
                            </MudAvatar>
                            <MudText Typo="Typo.caption">Holy Cow Group</MudText>
                        </MudListItem>
                    </MudList>
                </MudPaper>

            </div>
        }
        @if (openFriends)
        {
            <div class="d-flex flex-grow-1">
                <MudPaper Width="280px" Square Style="background: var(--mud-palette-surface);">
                     <MudText Class="px-5 py-2">Friends</MudText>
                     <MudList Clickable="true">
                         @foreach (var c in accounts.OrderBy(e => e.Name))
                        {
                            <MudListItem Dense="true" OnClick="@GoToChat">
                                <MudAvatar>
                                    <MudImage Src="@c.Profile.AvatarFileURL" />
                                </MudAvatar>
                                <MudText Typo="Typo.caption">@c.Name</MudText>
                                </MudListItem>
                        }
                        <MudListItem Dense="true">
                            <MudAvatar>
                                <MudIcon Icon="@Icons.Material.Filled.Groups" />
                            </MudAvatar>
                            <MudText Typo="Typo.caption">Holy Cow Group</MudText>
                        </MudListItem>
                    </MudList>
                </MudPaper>
            </div>
        }
        @if (openChannels)
        {
            <div class="d-flex flex-grow-1">
                <MudPaper Width="280px" Square Style="background: var(--mud-palette-surface);">
                     <MudText Class="px-5 py-2" Typo="Typo.h4">[Server Name]</MudText>
                     <MudList Clickable="true">
                         <MudListItem Dense="true">
                             <MudIcon Icon="@Icons.Material.Filled.VolumeUp" />
                             <MudText Typo="Typo.caption">General</MudText>
                         </MudListItem>
                         <MudList Dense="true" Clickable Class="ml-5">
                             <MudListItem Dense="true">
                                 <MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 gap-2" Square Style="@($"background:{Colors.Shades.Transparent};")" Elevation="0">
                                     <MudAvatar Size="Size.Small">
                                         <MudImage Src="@accounts[4].Profile.AvatarFileURL" />
                                     </MudAvatar>
                                     <MudText Typo="Typo.caption">@accounts[4].Name</MudText>
                                    </MudPaper>
                                </MudListItem>
                                <MudListItem Dense="true">
                                    <MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 gap-2" Square Style="@($"background:{Colors.Shades.Transparent};")" Elevation="0">
                                     <MudAvatar Size="Size.Small">
                                         <MudImage Src="@accounts[3].Profile.AvatarFileURL" />
                                     </MudAvatar>
                                     <MudText Typo="Typo.caption">@accounts[3].Name</MudText>
                                        <MudIcon Icon="@Icons.Material.Filled.MicOff" Size="Size.Small" />
                                    </MudPaper>
                                </MudListItem>
                            </MudList>
                            <MudListItem Dense="true">
                                <MudIcon Icon="@Icons.Material.Filled.Grid3x3" />
                                <MudText Typo="Typo.caption">general</MudText>
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </div>
        }

        <div class="d-flex">
            <MudPaper Width="280px" Height="10vh" Square Style="background: var(--mud-palette-dark);">
                 <MudListItem Dense="true">
                     <MudPaper Class="d-flex align-content-center" Square Style="@($"background:{Colors.Shades.Transparent};")" Elevation="0">

                         <div class="d-flex align-content-center flex-wrap flex-grow-1 gap-2 pa-2 flex-0 cursor-pointer hoverable" @onclick="OpenDialog">
                             
                            <MudBadge Color="Color.Success" Bordered Overlap="true" Origin="Origin.BottomRight">
                                <MudImage Src="@accounts[0].Profile.AvatarFileURL" Height="32" Width="32" ObjectFit="ObjectFit.Cover" Class="rounded-circle mt-1 ml-1" />
                            </MudBadge>

                            <MudPaper Class="d-flex flex-column flex-gap-0 flex-1 ml-1" Elevation="0" Style="@($"background:{Colors.Shades.Transparent};")" Square>
                                <MudText Typo="Typo.caption">@accounts[0].Name</MudText>
                                <MudText Typo="Typo.caption">@accounts[0].ActivityStatus?.Description</MudText>
                            </MudPaper>
                         </div>
                         <style>
                             .hoverable:hover{
                                    background: rgba(255,255,255,0.1)
                             }
                         </style>

                            <MudPaper Class="d-flex flex-grow-1 gap-2 flex-1" Square Style="@($"background:{Colors.Shades.Transparent};")" Elevation="0">
                             <MudIconButton Size="Size.Small" Icon=@($"{(!mute ? @Icons.Material.Filled.Mic : @Icons.Material.Filled.MicOff)}") Color=@(!mute ? Color.Default : Color.Error) OnClick="ToggleMute" />
                             <MudIconButton Size="Size.Small" Icon=@($"{(!deaf ? @Icons.Material.Filled.Headset : @Icons.Material.Filled.HeadsetOff)}") Color=@(!deaf ? Color.Default : Color.Error) OnClick=" ToggleDeaf" />
                             <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Settings" OnClick="ToggleSettings" />
                         </MudPaper>
                     </MudPaper>
                 </MudListItem>
             </MudPaper>
         </div>
     </div>
 </div>

 @code {
    [CascadingParameter]
    IDialogService DialogService { get; set; }

    string searchTerm = "";
    bool mute = false;
    bool deaf = false;
    bool openMessages = false;
    bool openFriends = false;
    bool openChannels = false;

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraExtraLarge };
        DialogService.Show<Profile>("Simple Dialog", options);
    }

    void OpenFriends()
    {
        // nav.NavigateTo("/messages");
        openFriends = true;
        openMessages = false;
        openChannels = false;
    }
    void OpenMessages()
    {
        // nav.NavigateTo("/messages");
        openMessages = true;
        openFriends = false;
        openChannels = false;
    }
    void OpenChannels()
    {
        nav.NavigateTo("/channels");
        openChannels = true;
        openFriends = false;
        openMessages = false;
    }


    void GoToFriends()
    {
        nav.NavigateTo("/messages");
    }
    void GoToChat()
    {
        nav.NavigateTo("/messages");
    }

    void ToggleMute()
    {
        mute = !mute;
    }
    void ToggleDeaf()
    {
        deaf = !deaf;
    }
    void ToggleSettings()
    {
        //DO SETTINGS POPUP?
    }

    private List<string> servers = new(){
        "https://cdn-imgix.headout.com/microbrands-content-image/image/4c39598de5ac2156718d098ce5e26a26-Plan%20your%20Visit.jpg",
        "https://res.cloudinary.com/teepublic/image/private/s--AP9xJMVN--/c_crop,x_10,y_10/c_fit,w_830/c_crop,g_north_west,h_1038,w_1038,x_-104,y_-311/l_upload:v1565806151:production:blanks:vdbwo35fw6qtflw9kezw/fl_layer_apply,g_north_west,x_-215,y_-422/b_rgb:ffb81c/c_limit,f_auto,h_630,q_auto:good:420,w_630/v1490996013/production/designs/1372936_1.jpg",
        "https://www.usatoday.com/gcdn/-mm-/7fbb4dcd0e29b46245bb2ec4981ee02ad9e486c3/c=518-0-3419-1632/local/-/media/2016/01/24/USATODAY/usatsports/d1flagv2_toothless-jy-5084.jpg",
        "https://2.bp.blogspot.com/-AFwyA1d2ujw/TadONL-wISI/AAAAAAAAAoE/Y8EoUqVdfL8/s1600/courtcdog.png"
    };

    private List<string> dms = new(){
        "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
        "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
        "https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg",
        "https://helios-i.mashable.com/imagery/articles/02R4UBVAJlHadovaNQfVpyG/images-1.fill.size_2000x1124.v1611703273.jpg",
        "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg"
    };

    public List<Account> accounts = new(){
        new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }, ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString() /* Hvordan fanden vil vi gemme og bruge farven? */ }, },
        new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
        new Account() { Id = 114, Name = "Mary Jane", Profile = new AccountProfile(){ AvatarFileURL = "https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg", } },
        new Account() { Id = 115, Name = "Billie Jean",  Profile = new AccountProfile(){ AvatarFileURL = "https://helios-i.mashable.com/imagery/articles/02R4UBVAJlHadovaNQfVpyG/images-1.fill.size_2000x1124.v1611703273.jpg", } },
        new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", } }
    };
}