@using MudBlazor
@inject NavigationManager nav

 <div class="d-flex flex-grow-1">
    <MudPaper Class="mud-height-full" Width="72px" MinHeight="970px" MaxHeight="1080px" Square>
        <MudText Class="pl-5 py-2">Echo</MudText> 
@*         <MudButton OnClick="@ToggleDrawer">
            YOU CLICK HERE
        </MudButton> *@
        <MudList Clickable="true">
            <MudListItem OnClick="@Navigate">
                <MudAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Mail" />
                </MudAvatar>
            </MudListItem>
            <MudListItem @onclick='() => nav.NavigateTo("/")'>
                <MudAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Person"/>
                </MudAvatar>
            </MudListItem>
            <MudDivider DividerType="DividerType.Middle" />
            @foreach(var c in avatars){
                <MudListItem Dense="true">
                    <MudAvatar Image="@c" Size="Size.Medium" />
                </MudListItem>
            }
        </MudList>
    </MudPaper>
    <div class="d-flex flex-grow-1 mud-theme-primary">
        <MudPaper Class="mud-height-full" MinHeight="970px" MaxHeight="1080px" Square>
            <MudText Class="px-5 py-2">Direct Messages</MudText>
            <MudList Clickable="true">
                <MudListItem>
                    <MudAvatar>
                        <MudIcon Icon="@Icons.Material.Filled.Mail" />
                    </MudAvatar>
                </MudListItem>
                <MudListItem OnClick="@Navigate">
                    <MudAvatar>
                        <MudIcon Icon="@Icons.Material.Filled.Person" />
                    </MudAvatar>
                </MudListItem>
                <MudDivider DividerType="DividerType.Middle" />
                @foreach (var c in avatars)
                {
                    <MudListItem Dense="true">
                        <MudAvatar>
                            <MudImage Src="@c" />
                        </MudAvatar>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    </div>
</div>

@code {
    bool open = false;


    void Navigate()
    {
        nav.NavigateTo("/messages");
    }
    private List<string> avatars = new(){ 
        "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", 
        "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
        "https://www.usatoday.com/gcdn/-mm-/7fbb4dcd0e29b46245bb2ec4981ee02ad9e486c3/c=518-0-3419-1632/local/-/media/2016/01/24/USATODAY/usatsports/d1flagv2_toothless-jy-5084.jpg",
        "https://2.bp.blogspot.com/-AFwyA1d2ujw/TadONL-wISI/AAAAAAAAAoE/Y8EoUqVdfL8/s1600/courtcdog.png"
    }; 
}