@using MudBlazor
@rendermode InteractiveAuto

<div style="display: @(Visible ? "block" : "none"); bottom: 0;  left: 20px; position:fixed; z-index: 1">
    <div class="modal-dialog">
        <div class="modal-content" style="background: var(--mud-palette-surface);">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                <p>@Message</p>
                <MudAvatar>
                    <MudImage Src="https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg" />
                </MudAvatar>

                <!-- Menu doesnt seem to work in our solution. Might be due to rendermode -->
                <!-- Button and div menu does work tho LUL -->

                <MudButton Color="Color.Secondary" @onclick="@(()=>Hover=!Hover)">TÆÆÆST</MudButton>
                <div id="myDropdown" class="dropdown-content" style="display: @(Hover ? "block" : "none")">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseErrorPopup">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    public string? Message { get; set; }

    public string? Title { get; set; }

    public bool Visible { get; set; }
    public bool Hover { get; set; }

    public void ShowErrorPopup(string errormessage, string title)
    {
        Visible = true;
        Message = errormessage;
        Title = title;
        StateHasChanged();
    }

    private void CloseErrorPopup()
    {
        //Hover = !Hover;
        Visible = false;
        Message = "";
        StateHasChanged();
    }
}